@page
@using Azure.Identity
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
    ViewData["Description"] = "Welcome to the depression book";
}

<img src="."  alt="me with rings"/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Here I will discuss my experience with depression. How I got into the sickness 
        and went through hell before I came back to life.
    </p>
    <div>
        <h2>Recent posts:</h2>
        @foreach (PostPreviewModel recent in @Model.RecentPosts)
        {
            <section class="post-overview">
                <h2><a asp-page="./Post" asp-route-id="@recent.UrlIdentifier">@recent.Title</a></h2>
                <h4>Published at @recent.CreatedAt.ToString("MM/dd/yyyy")</h4>
                <section class="tag-section">
                    @foreach (var tag in recent.Tags)
                    {
                        <div class="tag">@tag</div>
                    }
                </section>
                <p class="post-summary">
                    @recent.Summary
                </p>
            </section>
        }
    </div>
    <div class="target-audience">
        
    </div>
    <div>
        <h2>Most viewed: </h2>
        @foreach (PostPreviewModel mostViewed in @Model.MostViewedPosts)
        {
            <section class="post-overview">
                <h2><a asp-page="./Post" asp-route-id="@mostViewed.UrlIdentifier">@mostViewed.Title</a></h2>
                <h4>Published at @mostViewed.CreatedAt.ToString("MM/dd/yyyy")</h4>
                <section class="tag-section">
                    @foreach (var tag in mostViewed.Tags)
                    {
                        <div class="tag">@tag</div>
                    }
                </section>
                <p class="post-summary">
                    @mostViewed.Summary
                </p>
            </section>
        }
    </div>
</div>