@page "{id:int}"
@using Backend.Html
@model PostModel
@{
    ViewData["Title"] = $"{Model.Post!.Title}";
}

<h1>@Model.Post!.Title</h1>
<section class="tag-section">
    @foreach (var tag in @Model.Post!.Tags)
    {
        <div class="tag">@tag</div>
    }
    <div>
        @foreach (var part in @Model.Post!.Parts)
        {
            @HtmlFactory.GenerateHtml(part)
        }
    </div>
</section>