@page "{id}"
@using Backend.Html
@model PostModel
@{
    ViewData["Title"] = $"{Model.Post?.Title ?? "Not found"}";
    ViewData["Description"] = $"{Model.Post?.Summary ?? "This post does not exists"}";
}

@if (Model.Post is null)
{
    <h1>404 - Post not found</h1>
    <p>
        You have not found what you where looking for.<br />
        Maybe one of the recent posts interest you.
        @foreach (var post in Model.RecentPosts)
        {
            <section class="post-overview">
                <h2><a asp-page="./Post" asp-route-id="@post.UrlIdentifier">@post.Title</a></h2>
                <h4>Published at @post.CreatedAt.ToString("MM/dd/yyyy")</h4>
                <section class="tag-section">
                    @foreach (var tag in post.Tags)
                    {
                        <div class="tag">#@tag</div>
                    }
                </section>
                <p class="post-summary">
                    @post.Summary
                </p>
            </section>
        }
    </p>
}
else 
{
    <h1>@Model.Post!.Title</h1>
    <section class="tag-section">
        @foreach (var tag in @Model.Post!.Tags)
        {
            <div class="tag">@tag</div>
        }
        <div class="post-content">
            @foreach (var part in @Model.Post!.Parts)
            {
                @HtmlFactory.GenerateHtml(part)
            }
        </div>
    </section>
    <aside class="related-posts">
        <h2 class="related-posts-title">Related posts:</h2>
        @foreach (var relatedPost in @Model.Post.RelatedPosts)
        {
            <div class="related-post">
                <h3 class="related-post-title"><a asp-page="Post" asp-route-id="@relatedPost.UrlIdentifier">@relatedPost.Title</a></h3>
            </div>
        }
    </aside>
}