@page "{id}"
@using Backend.Html
@model PostModel
@{
    ViewData["Title"] = $"{Model.Post?.Title ?? "Not found"}";
    ViewData["Description"] = $"{Model.Post?.Summary ?? "This post does not exists"}";
}

@if (Model.Post is null)
{
    <h1>404 - Post not found</h1>
    <p>
        You have not found what you where looking for.<br />
        Maybe my most viewed post could interest you.
        <!-- todo: implement most recent or most viewed posts -->
    </p>
}
else 
{
    <h1>@Model.Post!.Title</h1>
    <section class="tag-section">
        @foreach (var tag in @Model.Post!.Tags)
        {
            <div class="tag">@tag</div>
        }
        <div class="post-content">
            @foreach (var part in @Model.Post!.Parts)
            {
                @HtmlFactory.GenerateHtml(part)
            }
        </div>
    </section>
}