@page "{searchTerm?}"
@model SearchModel
@{
    ViewData["Title"] = "Search";
    ViewData["Description"] = "Find articles about depressions";
}

<h1>Search</h1>
<form>
    <input type="text" class="search-box" asp-for="SearchTerm" />
    <input type="submit" value="Search" />
</form>
<div class="search-results">
    @if (Model.SearchResult is not null)
    {
        @foreach (PostPreviewModel post in Model.SearchResult)
        {
            <section class="post-overview">
                <h2><a asp-page="./Post" asp-route-id="@post.UrlIdentifier">@post.Title</a></h2>
                <h4>Published at @post.CreatedAt.ToString("MM/dd/yyyy")</h4>
                <section class="tag-section">
                    @foreach (string tag in post.Tags)
                    {
                        <div class="tag">@tag</div>
                    }
                </section>
                <p class="post-summary">
                    @post.Summary
                </p>
            </section>
        }
    }
</div>